:root {
    --main-bg-color: #241e1e;
    --secondary-bg-color: #272525;
    --main-text-color: #bdc7b8;
    --menu-link-color: #66ccff;
    --menu-hover-color: #b5bd68;
    --menu-active-bg-color: #b5bd6840;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ol, ul {
    list-style: none;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: monospace;
    font-size: calc(7px + 1vmin);
}

header {
    padding: 1rem;
    margin: 1rem;
    text-align: center;

    nav {
        li {
            display: inline-block;
            color: var(--menu-link-color);

            a {
                font-weight: bold;
                text-decoration: underline;

                &:hover, &.selected {
                    color: var(--menu-hover-color);
                }

                &:active {
                    background-color: var(--menu-active-bg-color);
                }
            }
        }
    }
}

main {
    padding: 1rem;
    margin: 1rem auto;

    nav.breadcrumbs {
        margin-bottom: 1em;

        li {
            display: inline-block;

            & + li::before {
                content: '>';
                margin: auto 0.5em;
            }
        }

        a {
            text-decoration: underline;
        }
    }

    @media only screen and (min-width : 667px) {
        max-width: 80%;
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--secondary-bg-color);

    div {
        display: flex;
        justify-content: center;
        align-items: center;

        &.left {
            font-size: 0.8em;

            p + p::before {
                content: "•";
                margin: 0 0.5em;
            }
        }

        &.right {
            gap: 0.2em;
        }
    }

    @media only screen and (max-width : 667px) {
        flex-direction: column;

        div {
            &.left {
                flex-direction: column;

                p + p::before {
                    content: "";
                    margin: 0;
                }
            }
        }
    }
}
