root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4
end_of_line = lf

[*.{csproj,json,config,yml,props}]
indent_size = 2

[*.sh]
end_of_line = lf

[*.{cmd, bat}]
end_of_line = crlf

[*.{cs,vb}]
# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false

# IDE0305: Simplify collection initialization
dotnet_style_prefer_collection_expression = false

[Cyberia.Api/Data/*.cs]
# IDE0044: Add readonly modifier
dotnet_style_readonly_field = false