###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* eol=lf

###############################################################################
# behavior for image files
###############################################################################
*.jpg   binary
*.png   binary
*.gif   binary
*.ico   binary


###############################################################################
# Set the merge driver for all other files
###############################################################################
*.exe      binary
*.dll      binary
*.manifest binary
