@using System.Text
@inject NavigationManager NavigationManager

<nav class="breadcrumbs">
	<ul>
		@if (_items.Count == 0) //If remove last item check if _items.Count > 1 and remove the last li
		{
			<li>Accueil</li>
		}
		else
		{
			<li><a href="/">Accueil</a></li>
			@for (var i = 0; i < _items.Count - 1; i++)
			{
				<li><a href="@_items[i].Route">@_items[i].Name</a></li>
			}
			<li>@_items[^1].Name</li>
		}
	</ul>
</nav>

@code {
	private readonly record struct Item(string Name, string Route);
	private readonly List<Item> _items = [];

	protected override void OnInitialized()
	{
		var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

		var segments = uri.AbsolutePath.Split("/", StringSplitOptions.RemoveEmptyEntries);
		StringBuilder routeBuilder = new();

		foreach (var segment in segments)
		{
			routeBuilder.Append('/').Append(segment);
			_items.Add(new Item(segment, routeBuilder.ToString())); //TODO: Add localization, maybe remove the last item
		}
	}
}
