@page
@model PrivacyModel
@{
	ViewData["Title"] = $"{Translation.Get<WebTranslations>("Page.Salamandra.Title")} - {Translation.Get<WebTranslations>("Page.SalamandraPrivacy.Title")}";
	ViewData["Favicon"] = "favicon-salamandra.png";
	ViewData["PageStyle"] = "salamandra.css";
}

<div class="content">
	<h1>@(Translation.Get<WebTranslations>("Page.SalamandraPrivacy.Title"))</h1>

	@Html.Raw(Translation.Get<WebTranslations>("Page.SalamandraPrivacy.Content"))

	<nav>
		<a asp-culture-page="/salamandra/tos">@(Translation.Get<WebTranslations>("Page.SalamandraTos.Title"))</a>
		<span>-</span>
		<a asp-culture-page="/salamandra/privacy" disabled>@(Translation.Get<WebTranslations>("Page.SalamandraPrivacy.Title"))</a>
	</nav>
</div>
