<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Salamandra</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <ul>
                <li>
                    <a hx-boost="true" asp-page="/Index">Home</a>
                </li>
                <li>
                    <a hx-boost="true" asp-page="/Privacy">Privacy</a>
                </li>
            </ul>
        </nav>
    </header>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
		&copy; 2024 - Salamandra
    </footer>

    <script src="~/lib/htmx.min.js"></script>
</body>
</html>
